*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}
.logo{
  position: absolute;
align-self: flex-start;  


}


.back{
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee; 
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
  
}


.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: absolute ;
  bottom: 20vh;
  left: 45vw;
  
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #141416;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: hsl(115, 45%, 94%);
  border-radius:  5px ;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #e00c0c;
  border-radius: 5px;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');



.container {
position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}
.container p {
  width: 100vw;
  position: absolute;
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}


.slider{
  align-self: flex-start; 
  height: 250px ;
  margin: auto;
  width:90% ;
  position: absolute;
  display: grid;
  place-items: center;
  overflow: hidden;
  
  
}
.slide-track{

  display: flex;
  align-self: flex-start;
  width: calc( 250px * 15);
  animation: scroll 40s linear infinite;
}

.slide-track:hover{
  animation-play-state: paused;
}

@keyframes scroll{
  0% {
      transform: translateX(0);
  }
100%{
    transform: translateX(calc(-250px * 7.5));
}
}
.slide{
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide img{
  width: 100%;
  transition: transform 1%;
}

.slide   img:hover{
  transform: translateZ(20px);
}

.slider::before,
.slider::after{
  background: linear-gradient( to right rgba(255,255,255,1) 0% , rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before{

  left: 0;
  top: 0;
}

.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}