*
{
    box-sizing: border-box ;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    /*background-color: #242333;*/
    
    background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
    font-family: 'Ubuntu', sans-serif;
    display : flex;
    flex-direction: column;
    color:white;
    align-items: center;
    justify-content:center;
    height: 100vh;

}

.seat{
    background-color: #444451;
    height: 14px;
    width: 16px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row
{
    display:flex;
}

.movie-container
{
    margin: 30px 0px;

}
.movie-container select{
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seat.selected
{
    background-color: #6feaf6;
}

.seat.occupied
{
    background-color: #ffffff;
}

.seat:nth-of-type(2)
{
    margin-right: 18px;
}

.seat:nth-last-of-type(2)
{
    margin-left: 18px;
}

.seat:not(.occupied):hover
{
    cursor: pointer;
    transform: scale(1.2);
}

.showcase.seat:not(.occupied):hover  
{
    cursor: default;
    transform: scale(1.2);
}

.showcase
{
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius:5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li
{
    display: flex;
    align-items: center;
    justify-content:10px;
    margin: 0 10px;
}

.showcase li small{
    margin-left: 10px;
}

.screen
{
    background-color: #fff;
    height: 190px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.75) ;

}

.container
{
    perspective:1000px;
    margin-bottom: 40px;
}

p.text
{
    margin: 5px 0;
}

p.text span
{
    color: #6feaf6;
}


.button
{
    position: absolute;
    top: 92%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    height: 34px;
    width: 250px;
    border-radius: 12px;
    padding: 0px 50px;
    border: 3px solid #8b008b;
    color: #800080;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}
.button:after, .button:before 
{
    
    top: 100%;
    left: 0;
    bottom: -10px;
    content: '';
    z-index: 1;
}
.button:before {
    background: BLACK;
    top: 10px;
    left: -1px;
    height: 100%;
    width: 15px;
}
.button:after {
    background: BLACK;
    right: 0px;
    left: -1px;
    height: 15px;
}
.button:hover {
    background: BLACK;
    color: #800080;
    margin-bottom: -1px;
}
.button:hover:after, .button:hover:before {
    top: 100%;
    left: 0;
    bottom: 0px;
}
.button:hover:before {
    top: 0px;
    left: 0px;
    width: 0px;
}
.button:hover:after {
    right: 0px;
    left: 0px;
    height: 0px;
}





.logout
{
    position: absolute;
    top: 7%;
    left: 93%;

    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    height: 31px;
    width: 150px;
    border-radius: 12px;
    padding: 0px 50px;
    border: 3px solid #8b008b;
    color: #800080;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}
.logout:after, .logout:before 
{
    
    top: 100%;
    left: 0;
    bottom: -10px;
    content: '';
    z-index: 1;
}
.logout:before {
    background: BLACK;
    top: 10px;
    left: -1px;
    height: 100%;
    width: 15px;
}
.logout:after {
    background: BLACK;
    right: 0px;
    left: -1px;
    height: 15px;
}
.logout:hover {
    background: BLACK;
    color: #800080;
    margin-bottom: -1px;
}
.logout:hover:after, .logout:hover:before {
    top: 100%;
    left: 0;
    bottom: 0px;
}
.logout:hover:before {
    top: 0px;
    left: 0px;
    width: 0px;
}
.logout:hover:after {
    right: 0px;
    left: 0px;
    height: 0px;
}